@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-slate-300 to-gray-300 text-zinc-900
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2b333f;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #eaf0eec2;
  border-radius: 14px;
}